@page
@model Bandymas.Pages.BooksList.ListModel


<h1>Books</h1>

<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Input book title,ibin or type to search"
				   asp-for="SearchedTerm" />
			<span class="input-group-btn">
				<button class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
		</div>
	</div>

</form>

<table class="table">
	<tr>
		<th>Author</th>
		<th>IBIN</th>
		<th>Title</th>
		<th>Type</th>
	</tr>
	@foreach (var book in Model.BooksOnScreen)
	{
		<tr>
			<td>@book.AuthorInfo.FirstName + @book.AuthorInfo.LastName</td>
			<td>@book.IBIN</td>
			<td>@book.Title</td>
			<td>@book.Type</td>
			<td>
				<a class="btn btn-lg"
				   asp-page="./Detail"
				   asp-route-bookId="@book.Id">
					<i class="glyphicon glyphicon-zoom-in"></i>
				</a>
				<a class="btn btn-lg"
				   asp-page="./Edit"
				   asp-route-bookId="@book.Id">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-lg"
				   asp-page="./Delete"
				   asp-route-bookId="@book.Id">
					<i class="glyphicon glyphicon-trash"></i>
				</a>

</tr>
	}
</table>

<a asp-page="./Edit" class="btn btn-primary">Add new book</a>